<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/scripts/addToFavourites.js"></script>
  <style>
    img {
      max-width: 29%
    }
  </style>
</head>

<body>

  <header>
    <%- include('partials/_header') %>
  </header>

  <main id="main-content">

    <div id="home-page-title">
      <h1>Latest Posts</h1>
    </div>

    <% for (let product of products) { %>
      <section class="home-page-container">

        <div id="username-time">
          <h4 id="home-page-username">
            <%= product.name %>
          </h4>
          <div id="home-page-time">
            <%= product.posted_time %>
          </div>
        </div>

        <div id="bookname-picture">
          <a id="home-page-book-name" href="/show/<%= product.id %>">
            <%= product.title %>
          </a>
          <img id="home-page-picture" src="<%= product.picture_url %>" alt="Product Image">
        </div>

        <div>
          <div class="nunito-font-home-page">$ <%= product.dollar %>
          </div>
          <div class="nunito-font-home-page">Condition: <%= product.condition %>
          </div>
          <div class="nunito-font-home-page">Category: <%= product.category %>
          </div>
          <% if (username) { %>
            <form action="/favourites" method="POST">
              <i class="fa-solid fa-heart add-to-favourites <%= product.favourite_id ? " favourite-red" : "" %>"
                id="product-<%= product.id %>" data-id="<%= product.id %>"></i>
            </form>
            <% } %>
        </div>

      </section>
      <% } %>

  </main>

</body>

</html>