<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

    <main id="main-content">

      <div id="home-page-title">
        <h1>Latest Posts</h1>
      </div>
      <% for (let product of products) { %>
        <section class="home-page-container">
          <div class="home-page-container-children">
            <h4 id="home-page-username"><%= product.name %></h4>
            <div id="home-page-time"><%= product.posted_time %></div>
          </div>

          <img id="home-page-picture" class="home-page-container-children" src="<%= %>" alt="Product Image">
          <h3 id="home-page-book-name" class="home-page-container-children"><%= product.title %></h3>

          <div class="home-page-container-children">
            <div id="home-page-price">Price: <%= product.price %></div>
            <div id="home-page-condition">Condition: <%= product.condition %></div>
            <div id="home-page-category">Category:<%= product.category %></div>
          </div>
        </section>
        <% } %>

    </main>

</body>

</html>
