<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Listings</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

    <main id="main-content">

      <div>
        <h1>My Listings</h1>
      </div>
      <% for (let listing of listings) { %>
        <section id="listings-container">

          <div class="listings-container-children">
            <h4 id="listings-id"><%= listing.id %></h4>
            <div id="listing-time"><%= listing.posted_time %></div>
          </div>

          <img id="listings-picture" class="listings-container-children" src="<%= listing.picutre_url %>" alt="Product Image">
          <h3 id="listings-book-name" class="listings-container-children"><%= listing.title %></h3>

          <div class="listings-container-children">
            <div id="listings-price">$ <%= listing.dollar %></div>
            <div id="listings-condition">Condition: <%= listing.condition %></div>
            <div id="listings-category">Category:<%= listing.category %></div>
          </div>
        </section>
        <% } %>

    </main>

</body>

</html>