<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Listings</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/listings.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <style>
    img {
      max-width: 25%
    }
  </style>
</head>

<body id="my-listings-page">
  <header>
    <%- include('partials/_header') %>
  </header>

    <main id="main-content">

      <div>
        <h1>My Listings</h1>
      </div>

      <% for (let listing of listings) { %>
        <section id="listings-container">

          <div class="listings-container-children">
            <h4 id="listings-id">
              Listing ID: <%= listing.id %>
            </h4>
            <div class="listing-nunito-font" id="listing-time">
              <%= listing.posted_time %>
            </div>
          </div>

          <img id="listings-picture" class="listings-container-children" src="<%= listing.picture_url %>"
            alt="Product Image">
          <h3 id="listings-book-name" class="listings-container-children">
            <%= listing.title %>
          </h3>

          <div class="listings-container-children">
            <div class="listing-nunito-font">$ <%= listing.dollar %>
            </div>
            <div class="listing-nunito-font">Condition: <%= listing.condition %>
            </div>
            <div class="listing-nunito-font">Category:<%= listing.category %>
            </div>
          </div>

          <% if (listing.user_id===userId) { %>
            <form method="post" action="/deleteListing">
              <input name="product_id" value="<%= listing.id %>" hidden>
              <button id="delete-listing-button" class="delete-sold-buttons" type="submit">Delete</button>
            </form>

            <form  action="/mark_sold" method="POST">
              <% if (!listing.available) { %>
                <p class="listing-nunito-font">Item is sold!</p>
                <% } else { %>
                  <input name="product_id" value="<%= listing.id %>" hidden>
                  <button class="delete-sold-buttons" id="sold-button" type="submit">Sold</button>
                  <% } %>
            </form>
            <% } %>
        </section>
        <% } %>

    </main>

</body>

</html>