<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>Orders</title>
</head>

<body>

  <%- include('partials/_header') %>

  <div id="orders-container">

    <h3 class="orders-container-children" id="orders-page-title">Order History</h3>

    <div class="orders-container-children" id="orders-page">
    <% for (let order of orders) { %>

      <section id="orders-information-container">
        <div class="orders-information-container-children">Order-id: <%= order.id %></div>

        <div class="orders-information-container-children">
          <div id="order-time" class="orders-summary"><%= order.purchase_time %></div>

          <div id="orders-summary">
            <div class="orders-summary-information"><%= order.title %></div>
            <img class="orders-summary-information"src="<%= order.picture_url %>" alt="Product Image">
          </div>

        </div>

        <div class="orders-information-container-children" id="orders-price">$ <%= order.dollar %></div>
      </section>

      <% } %>
    </div>
  </div>

</body>

</html>