<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Head missing -->
  <meta charset="UTF-8">
  <title><%= title %></title>


<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<script src="../routes/show.js"></script>
<style>img{ max-width: 40% }</style>

</head>
<body class="container">

  <header>
  <!-- Header missing -->
  </header>
  <main>
    <div id ="main-picture">
    <img alt = "main picture for the book on sale" src = <%= pictureUrl %>>
    </div>
    <section class="main-properties">
      <div id ="item-title"><%= title %></div>
      <div id ="item-price"><%= price %> </div>
      <div id ="seller"><%= seller %></div>
      <div class = "button" id ="message-button"><button type="submit">Message Me</button></div>

      <div class ="button" id="purchase-button">
        <form method="post" action = "/cart">
          <input name="product_id" value="<%= id %>" hidden>
          <button type="submit">Buy Now</button>
        </form>
      </div>

      <% if(adminUserId === user_id) { %>
      <form action="/mark_sold" method="POST">
        <input name="product_id" value="<%= id %>" hidden>
        <button id="sold-button" type="submit">Sold</button>
      </form>
      <div id="sold-message" style="display: none;">Sold Message</div>
      <% } %>

    </section>
    <section class="description">
    <div id="description">
      <%= description %>
    </div>

    <div class="minor-properties">
      <table>
        <tr class = "condition">
          <td> <%= condition %></td>
        </tr>
        <tr class = "category">
          <td><%= category %></td>
        </tr>
        <!-- <tr class = "stock">
          <td>1 available</td>
        </tr> -->
      </table>
    </div>
    </section>
    </main>

  <footer>
    <!-- Footer missing -->
  </footer>

</body>
</html>